@model IEnumerable<Ogrenci>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Öğrenci İşlemleri</h1>


<h2>Öğrenci Listesi</h2>
<a class="btn btn-outline-primary" asp-action="AddStudent" asp-controller="Student" >Öğrenci Ekle</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Numara</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>İşlemler</th>
            <th>Aldığı Dersler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ogr in Model)
        {
            <tr>
                <td>@ogr.Numara</td>
                <td>@ogr.Ad</td>
                <td>@ogr.Soyad</td>
                <td>
                    <a class="btn btn-sm btn-outline-success" href="/Student/EditStudent/@ogr.Ogrenciid">Düzenle</a> 
                    <a onclick="return confirm('Emin misiniz?')" class="btn btn-sm btn-outline-danger" href="/Student/DeleteStudent/@ogr.Ogrenciid">Silme</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-info" href="/Student/OgrenciDersleri/@ogr.Ogrenciid">Aldığı Dersler</a>
                    <a class="btn btn-sm btn-outline-primary" href="/Student/AddDersForOgrenci?studentId=@ogr.Ogrenciid">Ders Ekle</a>
                </td>

            </tr>
        }
    </tbody>
</table>

