@model IEnumerable<Ogrenci>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center mb-4">
    <h1 class="display-4">Öğrenci İşlemleri</h1>
    <p class="lead">Bu sayfada öğrencileri görüntüleyebilir, ekleyebilir, düzenleyebilir ve silebilirsiniz.</p>
</div>

<div class="d-flex justify-content-between mb-4">
    <h2 class="h4">Öğrenci Listesi</h2>
    <a class="btn btn-danger" asp-action="AddStudent" asp-controller="Student">
        <i class="fas fa-plus"></i> Öğrenci Ekle
    </a>
</div>

<table class="table table-striped table-bordered table-hover border-danger">
    <thead class="thead-dark text-danger">
        <tr class="text-center">
            <th scope="col">Numara</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">İşlemler</th>
            <th scope="col">Aldığı Dersler</th>
        </tr>
    </thead>
    <tbody >
        @foreach (var ogr in Model)
        {
            <tr class="text-danger">
                <td>@ogr.Numara</td>
                <td>@ogr.Ad</td>
                <td>@ogr.Soyad</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-success" href="/Student/EditStudent/@ogr.Ogrenciid">
                        <i class="fas fa-edit"></i> Düzenle
                    </a>
                    <a onclick="return confirm('Emin misiniz?')" class="btn btn-sm btn-danger" href="/Student/DeleteStudent/@ogr.Ogrenciid">
                        <i class="fas fa-trash-alt"></i> Sil
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-sm btn-info" href="/Student/OgrenciDersleri/@ogr.Ogrenciid">
                        <i class="fas fa-book"></i> Aldığı Dersler
                    </a>
                    <a class="btn btn-sm btn-primary" href="/Student/AddDersForOgrenci?studentId=@ogr.Ogrenciid">
                        <i class="fas fa-plus"></i> Ders Ekle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
