@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="jumbotron text-center ">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <hr class="my-4" />
    <p>Daha fazla bilgi için aşağıdaki bağlantıya tıklayın:</p>
    <a class="btn btn-light btn-lg" href="https://github.com/snypr4151" role="button" target="_blank">GitHub Hesabım :D</a>
</div>
