@model IEnumerable<Ders>
@{
    ViewData["Title"] = "Index";
}
    <div class="text-center mb-4">
        <h1 class="display-4">Ders İşlemleri</h1>
        <p class="lead">Bu sayfada dersleri görüntüleyebilir, ekleyebilir, düzenleyebilir ve silebilirsiniz.</p>
    </div>

    <div class="d-flex justify-content-between mb-4">
        <h2 class="h4">Ders Listesi</h2>
        <div>
            <a class="btn bg-danger" asp-action="Index" asp-controller="Student">Öğrenciler</a>
        <a class="btn  bg-danger" asp-action="AddDers" asp-controller="Ders">
                <i class="fas fa-plus"></i> Ders Ekle
            </a>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover border-danger">
        <thead class="thead-dark text-danger">
            <tr class="text-center">
                <th>Ders Kodu</th>
                <th>Ders Adı</th>
                <th>Kredi</th>
                <th>İşlemler</th>
                <th>Dersi Alan Öğrenciler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ders in Model)
            {
                <tr class="text-danger">
                    <td>@ders.DersKodu</td>
                <td>@ders.DersAd</td>
                    <td class="text-center">@ders.Kredi</td>
                    <td class="text-center">
                    <a class="btn btn-sm btn-success" href="/Ders/EditDers/@ders.Dersid"><i class="fas fa-edit"></i> Düzenle</a>
                    <a onclick="return confirm('Emin misiniz?')" class="btn btn-sm btn-danger" href="/Ders/DeleteDers/@ders.Dersid"><i class="fas fa-trash-alt"></i> Sil</a>
                    </td>
                    <td class="text-center">
                    <a class="btn btn-sm btn-info" href="/Ders/KayitliOgrenciler/@ders.Dersid"><i class="fas fa-eye"></i> Gör</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

